Repository f-lab-edu/buddy-wisdom, pull requests merged in 2023-05, with the labels that each got.

#7 [#4] 멘티 일정 조회 기능을 구현한다.
  build.gradle
  src/main/java/cobook/buddywisdom/BuddyWisdomApplication.java
  src/main/java/cobook/buddywisdom/global/exception/ApiExceptionHandler.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorMessage.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorResponse.java
  src/main/java/cobook/buddywisdom/mentee/controller/MenteeController.java
  src/main/java/cobook/buddywisdom/mentee/domain/MenteeMonthlySchedule.java
  src/main/java/cobook/buddywisdom/mentee/domain/MenteeScheduleFeedback.java
  src/main/java/cobook/buddywisdom/mentee/dto/MenteeMonthlyScheduleResponse.java
  src/main/java/cobook/buddywisdom/mentee/dto/MenteeScheduleFeedbackResponse.java
  src/main/java/cobook/buddywisdom/mentee/dto/request/MenteeMonthlyScheduleRequest.java
  src/main/java/cobook/buddywisdom/mentee/exception/NotFoundMenteeScheduleException.java
  src/main/java/cobook/buddywisdom/mentee/mapper/MenteeScheduleMapper.java
  src/main/java/cobook/buddywisdom/mentee/service/MenteeScheduleService.java
  src/main/resources/mapper/mentee/MenteeScheduleMapper.xml
  src/test/java/cobook/buddywisdom/mentee/controller/MenteeControllerTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeServiceTest.java
Labels: feature, test

#9 [#8] CI/CD 환경을 개선한다.
  .github/workflows/budsdom-cd.yml
  .github/workflows/budsdom-ci.yml
  run.sh
Labels: devops

#12 [#6] 로그인 기능을 구현한다.
  build.gradle
  src/main/java/cobook/buddywisdom/auth/controller/AuthController.java
  src/main/java/cobook/buddywisdom/auth/dto/LoginRequestDto.java
  src/main/java/cobook/buddywisdom/auth/mapper/MemberMapper.java
  src/main/java/cobook/buddywisdom/auth/service/AuthService.java
  src/main/java/cobook/buddywisdom/coach/domain/Member.java
  src/main/java/cobook/buddywisdom/global/config/JwtSecurityConfig.java
  src/main/java/cobook/buddywisdom/global/config/SecurityConfig.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorMessage.java
  src/main/java/cobook/buddywisdom/global/exception/InvalidCredentialsException.java
  src/main/java/cobook/buddywisdom/global/exception/NotFoundMemberException.java
  src/main/java/cobook/buddywisdom/global/jwt/JwtAccessDeniedHandler.java
  src/main/java/cobook/buddywisdom/global/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/cobook/buddywisdom/global/jwt/JwtFilter.java
  src/main/java/cobook/buddywisdom/global/jwt/TokenDto.java
  src/main/java/cobook/buddywisdom/global/jwt/TokenProvider.java
  src/main/java/cobook/buddywisdom/global/security/CustomAuthenticationProvider.java
  src/main/java/cobook/buddywisdom/global/security/CustomUserDetails.java
  src/main/java/cobook/buddywisdom/global/security/CustomUserDetailsService.java
  src/main/java/cobook/buddywisdom/global/security/domain/vo/AuthMember.java
  src/main/java/cobook/buddywisdom/global/security/domain/vo/RoleType.java
  src/main/resources/application.yml
  src/main/resources/mapper/auth/MemberMapper.xml
  src/test/java/cobook/buddywisdom/auth/WithMockCustomUser.java
  src/test/java/cobook/buddywisdom/auth/WithMockCustomUserSecurityContextFactory.java
  src/test/java/cobook/buddywisdom/auth/controller/AuthControllerTest.java
  src/test/java/cobook/buddywisdom/auth/service/AuthServiceTest.java
  src/test/java/cobook/buddywisdom/mentee/controller/MenteeControllerTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeServiceTest.java
Labels: feature

#15 멘티 일정 조회 기능에 인증 로직을 반영한다.
  src/main/java/cobook/buddywisdom/global/security/CustomUserDetails.java
  src/main/java/cobook/buddywisdom/global/security/domain/vo/AuthMember.java
  src/main/java/cobook/buddywisdom/mentee/controller/MenteeController.java
  src/test/java/cobook/buddywisdom/auth/controller/AuthControllerTest.java
  src/test/java/cobook/buddywisdom/auth/service/AuthServiceTest.java
  src/test/java/cobook/buddywisdom/mentee/controller/MenteeControllerTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeServiceTest.java
  src/test/java/cobook/buddywisdom/util/WithMockCustomUser.java
  src/test/java/cobook/buddywisdom/util/WithMockCustomUserSecurityContextFactory.java
Labels: chore, refactor

#17 [#10] 멘티 일정 신청 기능을 구현한다.
  src/main/java/cobook/buddywisdom/coach/domain/CoachSchedule.java
  src/main/java/cobook/buddywisdom/coach/exception/NotFoundCoachScheduleException.java
  src/main/java/cobook/buddywisdom/coach/mapper/CoachScheduleMapper.java
  src/main/java/cobook/buddywisdom/coach/service/CoachScheduleService.java
  src/main/java/cobook/buddywisdom/global/exception/ApiExceptionHandler.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorMessage.java
  src/main/java/cobook/buddywisdom/mentee/controller/MenteeController.java
  src/main/java/cobook/buddywisdom/mentee/domain/MenteeMonthlySchedule.java
  src/main/java/cobook/buddywisdom/mentee/domain/MenteeSchedule.java
  src/main/java/cobook/buddywisdom/mentee/domain/MenteeScheduleFeedback.java
  src/main/java/cobook/buddywisdom/mentee/dto/MenteeMonthlyScheduleResponse.java
  src/main/java/cobook/buddywisdom/mentee/dto/request/MenteeMonthlyScheduleRequestDto.java
  src/main/java/cobook/buddywisdom/mentee/dto/response/MenteeMonthlyScheduleResponseDto.java
  src/main/java/cobook/buddywisdom/mentee/dto/response/MenteeScheduleFeedbackResponseDto.java
  src/main/java/cobook/buddywisdom/mentee/dto/response/MenteeScheduleResponseDto.java
  src/main/java/cobook/buddywisdom/mentee/dto/response/MyCoachScheduleResponseDto.java
  src/main/java/cobook/buddywisdom/mentee/exception/DuplicatedMenteeScheduleException.java
  src/main/java/cobook/buddywisdom/mentee/mapper/MenteeScheduleMapper.java
  src/main/java/cobook/buddywisdom/mentee/service/MenteeScheduleService.java
  src/main/java/cobook/buddywisdom/relationship/domain/CoachingRelationship.java
  src/main/java/cobook/buddywisdom/relationship/exception/NotFoundRelationshipException.java
  src/main/java/cobook/buddywisdom/relationship/mapper/CoachingRelationshipMapper.java
  src/main/java/cobook/buddywisdom/relationship/service/CoachingRelationshipService.java
  src/main/resources/mapper/coach/CoachScheduleMapper.xml
  src/main/resources/mapper/mentee/MenteeScheduleMapper.xml
  src/main/resources/mapper/relationship/CoachingRelationshipMapper.xml
  src/test/java/cobook/buddywisdom/mentee/controller/MenteeControllerTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeScheduleServiceTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeServiceTest.java
Labels: feature, test

#22 [#21] 멘티 일정 취소 기능을 구현한다.
  src/main/java/cobook/buddywisdom/cancellation/controller/MenteeCancelRequestController.java
  src/main/java/cobook/buddywisdom/cancellation/domain/CancelRequest.java
  src/main/java/cobook/buddywisdom/cancellation/dto/request/CancelRequestDto.java
  src/main/java/cobook/buddywisdom/cancellation/dto/request/ConfirmCancelRequestDto.java
  src/main/java/cobook/buddywisdom/cancellation/dto/response/CancelRequestResponseDto.java
  src/main/java/cobook/buddywisdom/cancellation/exception/ConfirmedCancelRequestException.java
  src/main/java/cobook/buddywisdom/cancellation/exception/NotFoundCancelRequestException.java
  src/main/java/cobook/buddywisdom/cancellation/mapper/CancelRequestMapper.java
  src/main/java/cobook/buddywisdom/cancellation/service/CancelRequestService.java
  src/main/java/cobook/buddywisdom/cancellation/vo/DirectionType.java
  src/main/java/cobook/buddywisdom/global/exception/ApiExceptionHandler.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorMessage.java
  src/main/java/cobook/buddywisdom/mentee/mapper/MenteeScheduleMapper.java
  src/main/java/cobook/buddywisdom/mentee/service/MenteeScheduleService.java
  src/main/resources/mapper/cancellation/CancelRequestMapper.xml
  src/main/resources/mapper/mentee/MenteeScheduleMapper.xml
  src/test/java/cobook/buddywisdom/cancellation/controller/MenteeCancelRequestControllerTest.java
  src/test/java/cobook/buddywisdom/cancellation/service/CancelRequestServiceTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeScheduleServiceTest.java
Labels: feature, test

#24 멘티 일정 변경 사항을 피드 메시지로 저장한다.
  build.gradle
  src/main/java/cobook/buddywisdom/cancellation/controller/MenteeCancelRequestController.java
  src/main/java/cobook/buddywisdom/cancellation/service/CancelRequestService.java
  src/main/java/cobook/buddywisdom/feed/domain/Feed.java
  src/main/java/cobook/buddywisdom/feed/dto/ScheduleEventDto.java
  src/main/java/cobook/buddywisdom/feed/mapper/FeedMapper.java
  src/main/java/cobook/buddywisdom/feed/service/FeedService.java
  src/main/java/cobook/buddywisdom/global/util/MessageUtil.java
  src/main/java/cobook/buddywisdom/global/util/ScheduleEventManager.java
  src/main/java/cobook/buddywisdom/global/vo/MessageTemplate.java
  src/main/java/cobook/buddywisdom/global/vo/ScheduleEventDetails.java
  src/main/java/cobook/buddywisdom/global/vo/UpdateScheduleEventDetails.java
  src/main/java/cobook/buddywisdom/mentee/controller/MenteeController.java
  src/main/java/cobook/buddywisdom/mentee/service/MenteeScheduleService.java
  src/main/java/cobook/buddywisdom/messaging/config/RabbitmqConfig.java
  src/main/java/cobook/buddywisdom/messaging/consumer/FeedMessageConsumer.java
  src/main/java/cobook/buddywisdom/messaging/producer/FeedMessageProducer.java
  src/main/resources/application.yml
  src/main/resources/mapper/feed/FeedMapper.xml
  src/test/java/cobook/buddywisdom/cancellation/controller/MenteeCancelRequestControllerTest.java
  src/test/java/cobook/buddywisdom/cancellation/service/CancelRequestServiceTest.java
  src/test/java/cobook/buddywisdom/mentee/controller/MenteeControllerTest.java
  src/test/java/cobook/buddywisdom/mentee/service/MenteeScheduleServiceTest.java
Labels: feature, env

#28 [#27] 피드백 조회 및 등록 기능을 구현한다.
  src/main/java/cobook/buddywisdom/feedback/controller/FeedbackController.java
  src/main/java/cobook/buddywisdom/feedback/domain/Feedback.java
  src/main/java/cobook/buddywisdom/feedback/dto/FeedbackResponseDto.java
  src/main/java/cobook/buddywisdom/feedback/dto/UpdateFeedbackRequestDto.java
  src/main/java/cobook/buddywisdom/feedback/exception/NotFoundFeedbackException.java
  src/main/java/cobook/buddywisdom/feedback/mapper/FeedbackMapper.java
  src/main/java/cobook/buddywisdom/feedback/service/FeedbackService.java
  src/main/java/cobook/buddywisdom/global/config/WebConfig.java
  src/main/java/cobook/buddywisdom/global/exception/ApiExceptionHandler.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorMessage.java
  src/main/java/cobook/buddywisdom/global/util/MemberApiTypeConverter.java
  src/main/java/cobook/buddywisdom/global/vo/MemberApiType.java
  src/main/resources/mapper/feedback/FeedbackMapper.xml
  src/test/java/cobook/buddywisdom/feedback/controller/FeedbackControllerTest.java
  src/test/java/cobook/buddywisdom/feedback/service/FeedbackServiceTest.java
Labels: feature, test

#26 [#25] 피드 조회 및 확인 기능을 구현한다.
  src/main/java/cobook/buddywisdom/auth/service/AuthService.java
  src/main/java/cobook/buddywisdom/coach/domain/Member.java
  src/main/java/cobook/buddywisdom/feed/controller/FeedController.java
  src/main/java/cobook/buddywisdom/feed/domain/Feed.java
  src/main/java/cobook/buddywisdom/feed/dto/FeedResponseDto.java
  src/main/java/cobook/buddywisdom/feed/exception/AlreadyCheckedFeedException.java
  src/main/java/cobook/buddywisdom/feed/exception/NotFoundFeedException.java
  src/main/java/cobook/buddywisdom/feed/mapper/FeedMapper.java
  src/main/java/cobook/buddywisdom/feed/service/FeedService.java
  src/main/java/cobook/buddywisdom/global/exception/ApiExceptionHandler.java
  src/main/java/cobook/buddywisdom/global/exception/ErrorMessage.java
  src/main/java/cobook/buddywisdom/global/jwt/TokenProvider.java
  src/main/java/cobook/buddywisdom/global/security/CustomUserDetailsService.java
  src/main/java/cobook/buddywisdom/global/vo/MessageTemplate.java
  src/main/java/cobook/buddywisdom/member/domain/Member.java
  src/main/java/cobook/buddywisdom/member/exception/NotFoundMemberException.java
  src/main/java/cobook/buddywisdom/member/mapper/MemberMapper.java
  src/main/java/cobook/buddywisdom/member/service/MemberService.java
  src/main/resources/mapper/feed/FeedMapper.xml
  src/main/resources/mapper/member/MemberMapper.xml
  src/test/java/cobook/buddywisdom/feed/controller/FeedControllerTest.java
  src/test/java/cobook/buddywisdom/feed/service/FeedServiceTest.java
Labels: feature, test
